{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/property.css">
{% endblock %}

{% block content %}

{# Search bar #}

<div class="container-fluid container-searchBar">
  <form class="container col-9 form-inline pl-0 py-4 my-5" action="" method="post">
    <fieldset>    
      <div class="input-group">
      <!-- Search by property types -->
        
        <div class="input-group-prepend">
          <select id="propertyType" name="propertyType" class="form-control custom-select text-purple">
            <option value="">Type de bien</option>   
            {% for propertyType in propertyTypes %}
            <option  value="{{ propertyType.id }}">
              {{ propertyType.name }}
              </option> 
            {% endfor %}    
          </select>
        </div> 

        <div class="input-group-append">
          <button class="btn bg-purple text-light" type="submit">Recherche</button>
        </div>
      </div>
    </fieldset> 
  </form>
</div>


{# Showing list of properties #}
<div class="container-property container col-lg-9 col-md-9 col-12 mb-3">
      <div class="row">

        {% if properties is empty %}

            <h5 class = "empty-page container text-center alert mb-5 col-lg-9 col-md-9 col-12"><strong><i>Nous sommes désolés. Les annonces correspondent au type de bien que vous cherchez ne sont pas encore déposées sur la page.</i></strong></h5>
  

        {% else %}

        {% for property in properties %}
         
        <div class="col-md-6 col-12">
          <div class="property-card card mb-5">
            <div class="row g-0">
              <div class="col-lg-6 col-sm-12 col-12">
                <img
                  class="w-100"
                  src="{{ property.photo }}"
                  alt="{{ property.property_type }}"
                />
              </div>
              <div class="col-lg-6 col-sm-12 col-12 d-flex align-items-center">
                <div class="card-body col-lg-12 col-sm-12 col-12 px-sm-5">
                
                  <h5 class="card-title col-lg-12 col-sm-12 col-12 card-property-type">
                    <strong> 
                    {{  property.property_type }}
                    </strong>
                  </h5>
              
                  <h6 class="card-text">
                    {{ property.city }} ({{ property.sector }})
                  </h6>

                  <h6 class="card-price-property col-lg-12 col-sm-12 col-12 font-weight-bold font-italic">
                    <strong><i>{{ property.price|number_format(0, '.', ' ')  }} € </i></strong>
                  </h6>
                  
                  <p class="card-text">
                    {{ property.nb_pieces }} pièces {{ property.surface }} m2
                  </p>
                  <a href="/Advertisement/index" class="btn-property btn text-light">Voir l'annonce</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
</div>
{% endblock %}
