
<div class="col-12 pt-5 mx-2">
    <div>
        <div class=" d-none d-md-block">
            <h3 class="fw-bold">{{ property.transaction }}</h3>
            {{ property.reference }}
        </div>
        <h4 class="pt-3 pb-2 fw-bold d-none d-md-block pt-5">{{ property.price }}€ {{ property.transaction == 'A Louer' ? '/ mois' }}</h4>
    </div>
    <div class="row justify-content-center pt-5">

        <div class="col-lg-4 col-md-6 col-4 text-center p-0">
            {% if propertyType.name == "Maison" %}
                <div>
                    <i class="flaticon-home"></i>
                </div>
                <h6 class="small">
                    {{ propertyType.name }}
                </h6>
            {% elseif propertyType.name == "Appartement" %}
                <div>
                    <i class="flaticon-building"></i>
                </div>
                <h6 class="small">
                    {{ propertyType.name }}
                </h6>
            {% else %}
                <div>
                    <i class="flaticon-home2"></i>
                </div>
                <h6 class="small">
                    {{ propertyType.name }}
                </h6>
            {% endif %}
        </div>
        {% for feature in features %}
            <div class="col-lg-4 col-md-6 col-4 text-center p-0">
                {% if property.rooms is not null %}
                    <div>
                        <i class={{ feature[0] }}></i>
                    </div>
                    <h6 class="small">
                        {{ feature[3] }} {{ feature[1] }}
                    </h6>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <!-- Button trigger modal -->
    <div class="row justify-content-center mt-0 mt-md-5">
        <a href="/contact/index/{{ property.id }}" class="btn-property btn text-light btn_advert_contact">Envoyez un Mail</a>
    </div>
</div>
