<body class="fs-5">
    <section>
          <h2 class="font-weight-bold text-center m-4">Nos biens</h2>
     <div class="container">
            <div class="row mx-lg-n5">
                    <div class="col-lg-4 p-2 card d-md-block">
                        {% include 'Home/Carousel/_carousel1.html.twig' %}
                              <h5 class="card-title">{{ property1.property_type }}</h5>
                              <h6 class="card-subtitle text-muted mb-2">{{ property1.city }} ({{ property1.sector }}) </h6>
                              <p class="card-text badge bg-secondary text-wrap">{{ property1.price }} &euro;</p>
                    </div>
                    <div class="col-lg-4 p-2 card d-none d-md-block">
                          {% include 'Home/Carousel/_carousel2.html.twig' %}
                              <h5 class="card-title ">{{ property2.property_type }}</h5>
                              <h6 class="card-subtitle text-muted mb-2">{{ property2.city }} ({{ property2.sector }}) </h6>
                              <p class="card-text badge bg-secondary text-wrap">{{ property2.price }} &euro;</p>
                    </div>
                    <div class="col-lg-4 p-2 card d-none d-md-block">
                          {% include 'Home/Carousel/_carousel3.html.twig' %}
                              <h5 class="card-title ">{{ property3.property_type }}</h5>
                              <h6 class="card-subtitle text-muted mb-2">{{ property3.city }} ({{ property3.sector }}) </h6>
                              <p class="card-text badge bg-secondary text-wrap">{{ property3.price }} &euro;</p>
                    </div>
            </div>
     </div>
    </section>
  <body>